{
    "extends": "airbnb-base",
    "rules": {
      "no-console": "off",
      "indent": ["warn", 4],
      "import/no-extraneous-dependencies": false,
      "import/no-dynamic-require": false,
      "global-require": "off",
      "no-param-reassign": "warn",
  
      "linebreak-style": [0,"error", "windows"],
      "object-curly-spacing": [0, "never"]
    },
    "env": {
      "browser": true,
      "node": true,
      "mocha": true
      }
  }
  